{% block body %}
    <h1>Registrace na kurz {{ course.name }}</h1>

    <form action="/course/register/{{ course.id }}" method="post" id="courseRegistrationForm">
        {{ form_errors(form) }}
        <p>{{ form_label(form.name) }} {{ form_widget(form.name) }} {{ form_errors(form.name) }}</p>
        <p>{{ form_label(form.surname) }} {{ form_widget(form.surname) }} {{ form_errors(form.surname) }}</p>

        {{ form_rest(form) }}
        <input class="submit-form" type="submit" value="Odeslat registraci"/>
    </form>
{% endblock %}    
