{% extends '::base.html.twig' %}
{#{% block meta %}#}
    {#{% if content %}#}
        {#<meta name="description" content="{{ content.metaDesc }}"/>#}
        {#<meta name="keywords" content="{{ content.metaKeywords }}"/>#}
    {#{% endif %}#}
{#{% endblock %}#}
{#{% block title %}{% if content %}{{ content.htmlTitle }}{% endif %}{% endblock %}#}
{#{% block menu %}#}
    {#{% render (controller("EshopPackageContentBundle:Default:menu", {'activePageId': content.id, 'isHomePage': true})) %}#}
{#{% endblock %} #}
{% block body %}
    <h1>Kurzy</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Název</th>
            <th>Škola</th>
            <th></th>
        </tr>
        {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.school.name }}</td>
                <td><a href="/course/register/{{ course.id }}">Zaregistrovat se</a> </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}    
